.topbar {
  background-color: #ee4d2d;
  color: black;
}
.topbar h1 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  font-size: 3vh;
  font-weight: 500;
  color: #fff4f4;
  margin-left: 3vw;
}
.login{
  position: absolute;
  right: 3vw;
  top: 1.5vh;
}
.set_rightbottom{
  position: absolute;
  right: 1.8vh;
  bottom: 1.8vh;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  width: 500px;
  background-color: white;
}
.modal-header, .modal-footer {
  padding: 10px;
}
.modal-title {
  margin: 0;
}
.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
